body {
   padding: 0 40px;
}

h1 {
   background-color: rgb(238, 182, 182);
   width: 300px;
   height: 100px;
   text-align: center;
   font-size: 25px;
   line-height: 100px;
   margin: 0 auto;
}

.insert-element {
   color: blueviolet;
   text-transform: uppercase;
}

.red {
   color: red;
}

.green {
   color: rgb(42, 231, 42);
}
