h1 {
   background-color: rgb(224, 252, 250);
   padding: 50px;
   text-align: center;
}

.main-form {
   display: flex;
   justify-content: space-around;
   padding: 50px 0px 30px 0px;
}

.main-form-item {
   margin: 0px 0px 20px 0px;
}

span {
   font-style: italic;
}

button {
   padding: 10px 20px;
   background-color: rgb(238, 162, 91);
}

._focus {
   background-color: rgb(247, 223, 223);
}

._active {
   background-color: rgb(219, 201, 201);
}

.error-message {
   color: red;
}
