/* zeroing */
*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   background-color: #333;
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* ----------------------------------------------------------------------------------------- */
.wrapper {
}
.form {
   max-width: 550px;
   margin: 0 auto;
   padding: 30px 0;
   color: wheat;
}
.form * {
   outline: none;
}
.form__title {
   font-size: 40px;
   font-weight: 700;
   margin: 0px 0px 30px 0px;
}
.form__item {
   margin: 0px 0px 20px 0px;
}
.form__label {
   font-size: 18px;
   display: block;
   margin: 0px 0px 10px 0px;
}
.form__input {
   height: 50px;
   padding: 0 20px;
   border-radius: 5px;
   width: 100%;
   font-size: 18px;
   transition: 0.3s ease 0s;
}
.form__input:focus {
   box-shadow: 0 5px 10px #7a956b;
}
textarea.form__input {
   min-height: 120px;
   /* Дозволяємо зблільшувати розмір тільки вертікально */
   resize: vertical;
   padding: 20px;
}
.options {
   padding: 10px 0px 0px 0px;
}
.options__item {
   margin: 0px 0px 10px 0px;
}

.options__input {
   /* Стилізувати кола ми не можемо, тому скриваємо їх: */
   display: none;
}
/* Звертаємся до вибраного, та наступного тега у батьку: */
.options__input:checked + .options__label::after {
   transform: scale(1);
}

.options__label {
   font-size: 16px;
   display: inline-flex;
   line-height: 140%;
   align-items: center;
   position: relative;
   cursor: pointer;
}
/* Малюємо кола */
.options__label::before {
   content: '';
   flex: 0 0 24px;
   height: 24px;
   border-radius: 50%;
   background-color: #fff;
   align-self: flex-start;
   margin: 0px 10px 0px 0px;
}
.options__label::after {
   transition: transform 0.3s ease 0s;
   content: '';
   position: absolute;
   top: 4px;
   left: 4px;
   width: 16px;
   height: 16px;
   background-color: #7a956b;
   border-radius: 50%;
   /* За замовченням приховуємо внутришнє коло */
   transform: scale(0);
}

.file {
}
.file__item {
   position: relative;
}
.file__input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
   /* Приховуємо стандартні елементи */
   opacity: 0;
   font-size: 0;
}
.file__button {
   display: inline-flex;
   min-height: 40px;
   border-radius: 30px;
   justify-content: center;
   align-items: center;
   background-color: #77608d;
   padding: 0 20px;
}
.file__preview {
   display: inline-block;
   max-width: 100px;
   padding: 10px 0px 0px 0px;
}
.file__preview img {
   max-width: 100%;
}

.checkbox__input {
   display: none;
}
.checkbox__label {
   font-size: 16px;
   line-height: 140%;
   display: inline-flex;
   align-items: center;
   position: relative;
   cursor: pointer;
}
.checkbox__label a {
   display: inline;
   color: #7a956b;
}
.checkbox__label::before {
   content: '';
   flex: 0 0 24px;
   height: 24px;
   background-color: #fff;
   align-self: flex-start;
   border-radius: 4px;
   margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
   content: '';
   position: absolute;
   top: 4px;
   left: 4px;
   width: 16px;
   height: 16px;
   background-color: #7a956b;
   border-radius: 4px;
   transform: scale(0);
   transition: transform 0.5s ease 0s;
}
.checkbox__input:checked + .checkbox__label::after {
   transform: scale(1);
}
.form__button {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 60px;
   background-color: #7a956b;
   color: #fff;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 2px;
   border-radius: 20px;
   cursor: pointer;
   box-shadow: 0 5px 0 #20271c;
   transition: background-color 0.5s ease 0s;
   position: relative;
   top: 0;
}
.form__button:hover {
   background-color: #6d8660;
}
.form__button:active {
   top: 3px;
   box-shadow: 0 2px 0 #20271c;
}
