body {
   margin: 0;
   padding: 40px;
}

h1 {
   background-color: rgb(247, 199, 199);
   width: 340px;
   height: 100px;
   line-height: 100px;
   margin: 0 auto 30px auto;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   text-align: center;
}

.block1 {
   width: 300px;
   height: 200px;
   background-color: pink;
}
.block2 {
   width: 260px;
   height: 150px;
   background-color: rgb(116, 98, 101);
}
.block3 {
   width: 180px;
   height: 100px;
   background-color: rgb(241, 126, 145);
}
.block1,
.block2,
.block3 {
   text-align: center;
   margin: 0 auto;
}

/* Menu ----------------------------------------------------------------------------- */
.menu {
   display: inline-block;
   margin: 20px 0px 0px 0px;
}

.menu__button {
   background-color: yellow;
   width: 200px;
}

.menu._active .menu__list {
   display: block;
}

.menu._active .menu__button span:first-child {
   display: none;
}
.menu._active .menu__button span:last-child {
   display: block;
}

.menu__button span:first-child {
   display: block;
}
.menu__button span:last-child {
   display: none;
}

.menu__list {
   background-color: rgb(240, 85, 206);
   padding: 15px;
   list-style: none;
   margin: 0;
}

.menu__list li:not(:last-child) {
   margin: 0px 0px 15px 0px;
}

.menu__link {
   color: wheat;
   font-size: 16px;
   text-decoration: none;
}
.menu__link:hover {
   color: rgb(150, 136, 110);
}

/* ---------------------------------------------------------------------------------------- */
.block-coord {
   margin: 20px auto;
   width: 200px;
   height: 100px;
   background-color: rgb(219, 214, 214);
   box-sizing: border-box;
   padding: 20px;
}
.block-coord2 {
   margin: 0 auto;
   width: 200px;
   height: 200px;
   background-color: rgb(219, 214, 214);
   box-sizing: border-box;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
}
.block-coord2 span {
   text-align: center;
   display: inline-block;
   width: 33.33%;
   height: 33.33%;
   background-color: rgb(241, 163, 163);
   margin: 0;
   padding: 0;
   line-height: 70px;
}

.textarea {
   width: 150px;
   height: 60px;
}

.search {
   display: none;
}

.search.active {
   display: block;
}
