body {
   margin: 0;
   padding: 40px;
}

h1 {
   background-color: rgb(247, 199, 199);
   width: 340px;
   height: 100px;
   line-height: 100px;
   margin: 0 auto 30px auto;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   text-align: center;
}
